
body{
    background-color: rgb(76, 192, 192);
}img{
    width: 300px;
    height: 300px;
    border: 20px;
    border-radius: 50%;
    border-color: black;
    align-items: center;
    
}
.fun{
   margin-left: 70px;
   font-size: 20px;
   margin-top: 20px;
};
